@mixin font-face($name)
  @font-face
    font-family: $name
    src:  url("/fonts/#{$name}.ttf") format("truetype")

@include font-face('Nunito-Black')
@include font-face('Nunito-ExtraLight')

body
  font-family: 'Nunito-ExtraLight'

h1
  font-family: 'Nunito-Black'
  &.l-green
    color: lightgreen

h4
  &.subtitle
    margin:
      bottom: 0

p
  &.subtitle_content
    margin:
      top: 0

a, a:hover
  text-decoration: none


.layout
  padding: 30px 80px

.card
  padding: 10px
  margin: 10px 0
  box-shadow: 0px 6px 12px 1px #efefef
  border-radius: 5px

.shopping-list
  display: flex
  align-items: center

.sl-name
  color: #252525
  margin: 0 15px
  min-width: 200px

.sl-attributes
  color: #9b9b9b
  display: flex
  align-items: center

.active
  background-color: lightgreen

.cancelled
  background-color: #ff00008a

.completed
  background-color: #0000ff8a

.badge
  padding: 5px
  color: white
  border-radius: 5px

.vertical-divider
  position: relative
  margin: 0 10px
  &::before
    content: ""
    position: absolute
    top: 50%
    width: 1px
    height: 30px
    background: #dfdfdf
    transform: translateY(-50%)

.sl-show
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 30px

.sl-details
  position: relative

.sl-details_description
  width: 85%

.sl-details_status
  position: absolute
  right: 10px
  top: 25px